body {
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    /*background: #005825;*/
    background: url(./images/bodybg.jpg) repeat-x #005825;
}

p {
    margin: 0px;
    padding: 0px;
}

#header {
    width: 998px;
    height: 108px;
    margin: 0px auto;
    position: relative;
    padding: 0px;
}

#nav {
    width: 998px;
    height: 45px;
    font-size: 14px;
    color: #FFF;
    margin: 0 auto;
    padding: 0px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
}

#subnav {
    width: 998px;
    height: 41px;
    font-size: 13px;
    margin: 0 auto;
    text-align: left;
    color: #006600;
    line-height: 40px;
}

#main {
    background-color: #FFFFFF;
    overflow: hidden;
    padding: 0px 0px 5px 0px;
}

#mainbody {
    width: 998px;
    height: 994px;
    margin: 0px auto;
    padding: 2px;
    overflow: hidden;
}

#quicklinks {
    width: 998px;
    height: 20px;
    font-size: 14px;
    color: #000000;
    background: #D1D1D1;
    padding: 12px 0px 7px 0px;
    margin: 0px auto;
    word-spacing: 5px;
    font-weight: bold;
}

#sublinks {
    width: 958px;
    height: 20px;
    font-size: 12px;
    color: #000000;
    background: #D1D1D1;
    padding: 10px 20px;
    margin: 0px auto;
    word-spacing: 6px;
}

#footer {
    width: 958px;
    height: 85px;
    font-size: 12px;
    color: #FFFFFF;
    padding: 20px 20px;
    margin: 0px auto;
    _height: 105px;
}

#logo {
    bottom: 10px;
    position: absolute;
    left: 10px;
}

#version {
    bottom: 10px;
    position: absolute;
    left: 270px;
}

#searchbox {
    width: 350px;
    padding: 0px 3px 0px 0px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    margin: 0px;
}

#search {
    border: #CCCCCC 1px solid;
    padding: 3px;
    width: 250px;
    margin: 3px 0px 0px 0px;
    color: #CCCCCC;
}

#cnsearchbotton {
    vertical-align: middle;
    width: 74px;
    height: 28px;
    background: url(./images/cnsearchbotton.png) no-repeat;
    border: 0;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
    padding: 0px;
}

#nav a:active, #nav a:link, #nav a:visited {
    color: #FFF;
    text-decoration: none;
}

#nav .home {
    padding: 8px 10px 5px 15px;
    margin: 0px;
    background: url(./images/home.gif) center no-repeat;
}

#nav .sp {
    padding: 10px 12px 10px 17px;
    background: url(./images/nav-spe.jpg) no-repeat left;
}

#subnav a:active, #subnav a:link, #subnav a:visited {
    color: #006600;
    text-decoration: none;
}

.hidecontent {
    display: none;
}

#subnav2 {
    margin-left: 20px;
}

#subnav4 {
    margin-left: 200px;
}

#subnav5 {
    margin-left: 300px;
}

#subnav6 {
    margin-left: 400px;
}

#subnav7 {
    margin-left: 500px;
}

#subnav11 {
    text-align: right;
    margin-right: 20px;
}

#indexline {
    height: 300px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: #043311;
}

#box {
    width: 228px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 0px auto 0;
    float: right;
    color: #FFF;
    z-index: 1;
}

#content_main {
    padding: 0;
    margin: 0px 0 0px 0;
    float: left;
    width: 770px;
    border: 0px solid #e6e4db;
    height: 300px;
}

#mainbody .cols {
    overflow: hidden;
}

#mainbody .colsleft {
    width: 726px;
    float: left;
    overflow: hidden;
}



#mainbody .cols01 {
    width: 358px;
    margin: 5px 5px 0px 0px;
    float: left;
}


.channel_shadow {
    padding: 0px 0px 5px 0px;
    background: url(./images/bo-shadow.jpg) no-repeat bottom center;
}

.channel {
    border: 1px #CCCCCC solid;
    padding: 0px;
    background: #FFFFFF;
    margin: 0px;
}

H3 {
    padding: 0px 0px 12px 5px;
    margin: 16px 15px 5px 15px;
    color: #006600;
    font-size: 14px;
    font-weight: bold;
    background: url(./images/line.gif) repeat-x bottom;
}

.newsmore {
    float: right;
    padding: 0px 10px 0px 10px;
    font-weight: normal;
    font-size: 12px;
}

#sysunews01, #sysunews03 {
    padding: 0px 15px 0px 0px;
    margin: 0px 5px 0px 0px;
    background: url(./images/title-spe.jpg) right no-repeat;
    cursor: pointer;
}

.channel LI {
    padding-left: 12px;
    background: url(./images/dot.png) no-repeat left;
    font-size: 12px;
    font-weight: normal;
    line-height: 28px;
}

LI {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.channel UL {
    padding: 10px 15px 18px 20px;
}

#mainbody .gonggao {
    margin: 0px 5px 5px 0px;
}

.commontext {
    font-size: 12px;
    margin: 5px 15px;
    padding: 5px 10px;
    color: #999999;
    line-height: 20px;
    font-weight: normal;
}

.channel A:link, .channel A:visited, .channel A:active {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
}

.clear {
    clear: both;
}

ol, ul {
    margin: 0px;
    padding: 0px;
}

#mainbody .cols02 {
    width: 272px;
    margin: 5px 0px 0px 0px;
    float: left;
}

H4 {
    padding: 0px 0px 12px 5px;
    margin: 16px 15px 0px 15px;
    color: #006600;
    font-size: 14px;
    font-weight: bold;
    background: url(./images/line.gif) repeat-x bottom;
}

.commonline {
    border-bottom: 1px #CCCCCC solid;
}

.daohang {
    font-weight: bold;
    word-spacing: 5px;
    margin: 5px 15px;
    padding: 5px 5px;
    color: #666666;
    line-height: 28px;
}

.daohang A:link, .daohang A:visited, .daohang A:active, .daohang A:hover {
    font-weight: bold;
    text-decoration: none;
}

.weibo {
    padding: 11px 0px 12px 0px;
    _padding: 12px 0px;
    margin: 0px;
    text-align: right;
}

.weibo img {
    margin: 0px 8px;
    border: 0px;
}

#quicklinks {
    padding: 12px 0px 7px 0px;
    margin: 0px auto;
    word-spacing: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    background: #D1D1D1;
    width: 998px;
    height: 20px;
}

#quicklinks a:active, #quicklinks a:link, #quicklinks a:visited, #quicklinks a:hover {
    color: #333333;
    text-decoration: none;
}

#quicklinks .spe {
    padding: 8px 15px 10px 15px;
    margin: 0px;
}
#sublinks {
    padding: 10px 20px;
    margin: 0px auto;
    width: 958px;
    word-spacing: 6px;
    font-size: 12px;
    color: #000000;
    background: #D1D1D1;
    height: 20px;
}

#sublinks a:active, #sublinks a:link, #sublinks a:visited, #sublinks a:hover {
    color: #333333;
    text-decoration: none;
}

.bottomlogo {
    width: 160px;
    height: 40px;
    padding: 5px 10px;
    border-right: #FFFFFF 1px solid;
    float: left;
}

.bottomcontact_cn {
    width: 260px;
    height: 40px;
    padding: 2px 20px 5px 20px;
    line-height: 24px;
    border-right: #FFFFFF 1px solid;
    float: left;
}

.bottomcontact_en {
    width: 400px;
    height: 40px;
    padding: 2px 20px 5px 20px;
    line-height: 24px;
    float: left;
}

.copyright {
    padding: 10px;
    margin: 0px;
    color: #99BCA8;
    font-size: 12px;
    text-align: center;
    word-spacing: 3px;
}

.copyright a:active, .copyright a:link, .copyright a:visited {
    color: #99BCA8;
    text-decoration: none;
}