header {
    position:relative;
}
#motto {
    float:right;
    width:16%;
    margin-top:18px;
    background:#000
}
#motto p{
    font-size:18px;
    color:white;
    font-weight:20;
    font-family:Arial;
    margin:15;
    margin-bottom:0;
    padding:0;}
#hat {
    position:absolute;
    left:712px;
    top:8px;
    width:130px;
}
h1 {
    font-size: 22px;
    font-family: Arial; margin-left: 80px;margin-top:0;
}
header h2 {
    font-size: 13px;
    font-family: Arial;
    margin-left:100px;
	color:#8e8d8d;
	animation:animate 3s linear 1s forwards;
    -webkit-animation:animate 3s linear 1s forwards;
	-moz-animation:animate 3s linear 1s forwards;
}
@keyframes animate{
    0%{transform:translate(0px);opacity:0}
    100%{transform:translate(30px);opacity:1;}
}
nav {
    background: #434343;
    width:730px;
    line-height:48px;
}
nav div{
    padding-left:100px;
}
nav a{
    color:white; 
    font-size:1.5em;
    padding:10px;
    text-decoration:none;
    border-radius:4px;
    transition:all 0.1s linear;
    text-shadow: rgba(0,0,0,0.9) 0px 1px 2px;
}
nav a:hover{
    color:yellow;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}
#logo {
    height:100px;
    border-radius:50px;
    background:rgba(0,0,0,1);
    position:absolute;width:100px;
    left:-10px;
    top:50px;
}
#logo img {
    transition-property:all;
    transition-duration:0.5s;
}
#logo:hover img{
    transform:scale(1.5,1.5);
}
article {
    width:73%;
    float:left;
}
.photo {
    background:url(../images/Love.png) no-repeat center;
	margin:10px;
	width:710px;
	height:300px;
	}
aside { 
    width: 27%;
	background:#000;
	float: right;
	margin-bottom:20px;
	}
#avatar {
    text-align:center
}
#avatar img{
    width:150px;
	height:150px;
	overflow:hidden;
	border-radius:100px;
	margin-top:20px;
} 
#avatar~div {
    height:10px;
	color:white;
	margin:10px;
	font-size:15px;
	margin-left:50px;
}
#avatar~div img {
    width:20px;
	margin:0;
	padding:0;
	vertical-align:middle;
}
#avatar~div span{
    vertical-align:middle;
}
.clr {
    clear:both;
}
.frilink {
    background:#000
}
.frilink h3 {
    position: relative;
	width:150px;
	background:yellow;
	color:black;
	left:-50px;
	text-align:center;
	margin-top:50px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
}
.frilink ul {
    position:relative;
	left:-50px;
	width:200px;
}